In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_b = pd.read_json("yelp_academic_dataset_business.json", lines=True)

In [ ]:
len(df_b)

In [ ]:
df_b.columns

In [ ]:
len(df_b[(df_b['city'] == 'Las Vegas') & (df_b['categories'].str.contains('Restaurants'))])

In [ ]:
df_b = df_b[(df_b['city'] == 'Las Vegas') & (df_b['categories'].str.contains('Restaurants'))]

In [ ]:
category = []
for i, x in df_b.iterrows():
    lis = x['categories'].split(', ')
    for j in lis:
        if any(substring in j for substring in ['Restaurants','Food']):
            pass
        else:
            value = j
            break
    if value:
        value.strip()
        category.append(value)
    else:
        category = 'None'

In [ ]:
df_b['category'] = category
df_b.sample(n=2)

In [ ]:
df_b['category'].unique()

In [ ]:
df_b = df_b[df_b['category'].isin(['Italian', 'Mexican', 'Ice Cream & Frozen Yogurt', 'Chinese',
       'Pizza', 'French', 'Buffets', 'Bars', 'Sandwiches',
       'Middle Eastern', 'Dive Bars', 'Delis', 'American (Traditional)',
       'Steakhouses', 'Seafood', 'Bakeries', 'Coffee & Tea', 'Japanese',
       'Thai', 'Tapas/Small Plates', 'Southern', 'Korean',
       'Chicken Wings', 'Breakfast & Brunch', 'Street Vendors', 'Burgers',
       'Vegetarian', 'Ramen', 'Filipino', 'Vietnamese'
       'Desserts', 'American (New)', 'Asian Fusion', 'Noodles', 'Tex-Mex', 'Ethiopian', 'Soup', 'Sushi Bars', 'Gluten-Free', 'Beer',
       'Pubs', 'Barbeque', 'Poke', 'Hot Dogs',  'Caribbean','Chicken Shop', 'Cafes', 'Hookah Bars', 'Hawaiian', 'Diners',
       'Waffles', 'Brazilian', 'Latin American', 'Wine Bars',
       'Salad', 'Bagels', 'Argentine', 'Gastropubs', 
       'Lounges', 'Cheesesteaks', 'Tapas Bars', 'Grocery', 'Indian',
       'Butcher', 'Cajun/Creole', 'Modern European', 'Gelato', 'Donuts',
        'Dentists', 'Pasta Shops', 'Greek', 'Mongolian',
       'Bistros', 'Arabian', 'Tacos', 'Cocktail Bars', 
       'Mediterranean', 'Sports Bars',
       'Cantonese','Cafeteria', 'Wineries', 'Taiwanese',
       'Peruvian', 'Szechuan', 'Vegan', 'Coffee Roasteries',
        'Shaved Ice', 'Custom Cakes', 'Patisserie/Cake Shop', 'Spanish',
       'Fish & Chips', 'Tea Rooms', 'Cuban', 'Breweries', 'Shanghainese', 'Bubble Tea',
       'Themed Cafes', 'Teppanyaki', 'Venezuelan', 'Pretzels', 'Creperies', 'Pakistani',
       'Brasseries', 'Singaporean',
       'Japanese Curry', 'German', 'Afghan', 'New Mexican Cuisine',
       'Pan Asian', 'Gay Bars', 'Beer Bar', 'Hot Pot',
       'Seafood Markets', 'Persian/Iranian',
       'Irish', 'Conveyor Belt Sushi','Turkish',
       'Guamanian', 'Falafel', 'Ukrainian', 'Russian',
       'Laotian', 'Smokehouse', 'Puerto Rican',
       'Dinner Theater', 'Piano Bars', 'Beer Gardens','British', 'Lebanese',
        'African', 'Malaysian', 'South African',
       'Belgian', 'Kebab', 'Coffeeshops',
       'Colombian', 'Moroccan',
       'Acai Bowls'])]

In [ ]:
len(df_b)

In [ ]:
df_b.reset_index(inplace=True)

In [ ]:
df_b.loc[0].attributes

In [ ]:
df_b.loc[0].attributes['RestaurantsPriceRange2']

In [ ]:
df_b['pricerange'] = 1

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'pricerange'] = df_b.loc[i].attributes['RestaurantsPriceRange2']
    except:
        df_b.loc[i, 'pricerange'] = 0

In [ ]:
df_b['pricerange'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'OutdoorSeating'] = df_b.loc[i].attributes['OutdoorSeating']
        if df_b.loc[i, 'OutdoorSeating'] == 'None':
            df_b.loc[i, 'OutdoorSeating'] = 'False'
    except:
        df_b.loc[i, 'OutdoorSeating'] = 'False'

In [ ]:
df_b['OutdoorSeating'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'WiFi'] = df_b.loc[i].attributes['WiFi']
        if df_b.loc[i, 'WiFi'] == "u'no'":
            df_b.loc[i, 'WiFi'] = 'None'
        elif df_b.loc[i, 'WiFi'] == "'no'":
            df_b.loc[i, 'WiFi'] = 'None'
        elif df_b.loc[i, 'WiFi'] == "'free'":
            df_b.loc[i, 'WiFi'] = 'Free'
        elif df_b.loc[i, 'WiFi'] == "u'free'":
            df_b.loc[i, 'WiFi'] = 'Free'
        elif df_b.loc[i, 'WiFi'] == "'paid'":
            df_b.loc[i, 'WiFi'] = 'Paid'
        elif df_b.loc[i, 'WiFi'] == "u'paid'":
            df_b.loc[i, 'WiFi'] = 'Paid'
    except:
        df_b.loc[i, 'WiFi'] = 'None'

In [ ]:
df_b['WiFi'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'GoodForKids'] = df_b.loc[i].attributes['GoodForKids']
        if df_b.loc[i, 'GoodForKids'] == 'None':
            df_b.loc[i, 'GoodForKids'] = 'False'
    except:
        df_b.loc[i, 'GoodForKids'] = 'False'

In [ ]:
df_b['GoodForKids'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'RestaurantsAttire'] = df_b.loc[i].attributes['RestaurantsAttire']
        if df_b.loc[i, 'RestaurantsAttire'] == "u'formal'":
            df_b.loc[i, 'RestaurantsAttire'] = 'formal'
        elif df_b.loc[i, 'RestaurantsAttire'] == "'formal'":
            df_b.loc[i, 'RestaurantsAttire'] = 'formal'
        elif df_b.loc[i, 'RestaurantsAttire'] == "'casual'":
            df_b.loc[i, 'RestaurantsAttire'] = 'casual'
        elif df_b.loc[i, 'RestaurantsAttire'] == "u'casual'":
            df_b.loc[i, 'RestaurantsAttire'] = 'casual'
        elif df_b.loc[i, 'RestaurantsAttire'] == "'dressy'":
            df_b.loc[i, 'RestaurantsAttire'] = 'dressy'
        elif df_b.loc[i, 'RestaurantsAttire'] == "u'dressy'":
            df_b.loc[i, 'RestaurantsAttire'] = 'dressy'
        else:
            df_b.loc[i, 'RestaurantsAttire'] = 'casual'
    except:
        df_b.loc[i, 'RestaurantsAttire'] = 'casual'

In [ ]:
df_b['RestaurantsAttire'].unique()

In [ ]:
df_b.loc[df_b['RestaurantsAttire'] == 'False','RestaurantsAttire'] = 'casual'

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'Alcohol'] = df_b.loc[i].attributes['Alcohol']
        if df_b.loc[i, 'Alcohol'] == "u'beer_and_wine'":
            df_b.loc[i, 'Alcohol'] = 'beer_and_wine'
        elif df_b.loc[i, 'Alcohol'] == "'beer_and_wine'":
            df_b.loc[i, 'Alcohol'] = 'beer_and_wine'
        elif df_b.loc[i, 'Alcohol'] == "'full_bar'":
            df_b.loc[i, 'Alcohol'] = 'full_bar'
        elif df_b.loc[i, 'Alcohol'] == "u'full_bar'":
            df_b.loc[i, 'Alcohol'] = 'full_bar'
        else:
            df_b.loc[i, 'Alcohol'] = 'None'
        
    except:
        df_b.loc[i, 'Alcohol'] = 'None'

In [ ]:
df_b['Alcohol'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'Delivery'] = df_b.loc[i].attributes['RestaurantsDelivery']
        if df_b.loc[i, 'Delivery'] != 'True':
            df_b.loc[i, 'Delivery'] = 'False'
    except:
        df_b.loc[i, 'Delivery'] = 'False'

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'Takeout'] = df_b.loc[i].attributes['RestaurantsTakeOut']
        if df_b.loc[i, 'Takeout'] != 'True':
            df_b.loc[i, 'Takeout'] = 'False'
    except:
        df_b.loc[i, 'Takeout'] = 'False'

In [ ]:
df_b['Takeout'].unique()

In [ ]:
df_b['Delivery'].unique()

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'Noise'] = df_b.loc[i].attributes['NoiseLevel']
        if df_b.loc[i, 'Noise'] == "u'loud'":
            df_b.loc[i, 'Noise'] = 'loud'
        elif df_b.loc[i, 'Noise'] == "'loud'":
            df_b.loc[i, 'Noise'] = 'loud'
        elif df_b.loc[i, 'Noise'] == "'very_loud'":
            df_b.loc[i, 'Noise'] = 'loud'
        elif df_b.loc[i, 'Noise'] == "u'very_loud'":
            df_b.loc[i, 'Noise'] = 'loud'
        elif df_b.loc[i, 'Noise'] == "'quiet'":
            df_b.loc[i, 'Noise'] = 'quiet'
        elif df_b.loc[i, 'Noise'] == "u'quiet'":
            df_b.loc[i, 'Noise'] = 'quiet'
        else:
            df_b.loc[i, 'Noise'] = 'average'

    except:
        df_b.loc[i, 'Noise'] = 'average'

In [ ]:
df_b['Noise'].unique()

In [ ]:
df_b.columns

In [ ]:
df_b.loc[0].attributes

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'Reservations'] = df_b.loc[i].attributes['RestaurantsReservations']
        if df_b.loc[i, 'Reservations'] != 'True':
            df_b.loc[i, 'Reservations'] = 'False'
    except:
        df_b.loc[i, 'Reservations'] = 'False'

In [ ]:
for i,x in df_b.iterrows():
    try:
        df_b.loc[i, 'GoodforGroups'] = df_b.loc[i].attributes['RestaurantsGoodForGroups']
        if df_b.loc[i, 'GoodforGroups'] != 'True':
            df_b.loc[i, 'GoodforGroups'] = 'False'
    except:
        df_b.loc[i, 'GoodforGroups'] = 'False'

In [ ]:
df_b['Reservations'].unique()

In [ ]:
df_b['GoodforGroups'].unique()

In [ ]:
df_b.loc[0].attributes['Ambience']

In [ ]:
df_b.columns

In [ ]:
df_b.loc[0]

In [ ]:
df_b.drop(columns=['index', 'city', 'state','postal_code','is_open', 'attributes', 'categories', 'hours'], inplace=True)

In [ ]:
df_b.loc[1]

In [ ]:
df_b.to_json("Yelp Business Ready.json")
df_b.to_csv("Yelp Business Ready.csv")

In [ ]:
df = pd.read_json("yelp_academic_dataset_review.json", lines=True)

In [ ]:
df.head()

In [ ]:
len(df)

In [ ]:
df = df[df['business_id'].isin(df_b['business_id'])]

In [ ]:
len(df)

In [ ]:
df.columns

In [ ]:
df.drop(columns=['review_id','funny','cool', 'text'], inplace=True)

In [119]:
df.reset_index(inplace=True)

In [121]:
df.loc[1]

index                              23
user_id        2mxBNBeFrgDszqGS5tdEHA
business_id    d_L-rfS1vT3JMzgCUGtiow
stars                               5
useful                              0
date              2016-07-25 03:57:19
Name: 1, dtype: object

In [123]:
df['useful'].unique()

array([  0,   1,   7,   5,   3,   9,   2,  13,   4,  17,  18,   6,  22,
        11,  34,   8,  10,  61,  12,  23,  20,  14,  31,  38,  25,  16,
        27,  32,  15,  71,  19,  26,  36,  21,  30,  28,  24,  41,  48,
        52,  33,  54,  39,  44,  59,  47,  64,  35,  42,  40,  37,  45,
        46,  65,  57,  43,  62,  55,  68,  93,  73,  29,  60,  53,  92,
        98,  58,  72,  49,  56, 123,  51,  91, 215, 171, 109,  63, 107,
        87,  85,  50, 156,  70,  67, 175,  95,  96,  83, 104,  94,  90,
       106,  84,  86,  97, 193, 101,  81, 124, 113,  89, 141,  88, 102,
        79, 143, 150,  78, 114,  69, 128, 126, 190,  80, 112, 139, 103,
       146, 158, 115, 122, 135, 137, 235,  66, 163,  74, 127, 116, 200,
       207,  75,  82,  99,  76, 133, 100, 129, 108, 142, 121, 111, 145,
       105, 110, 131, 153, 119], dtype=int64)

In [127]:
df['date'] = pd.to_datetime(df['date'])

In [131]:
df.to_json("Yelp Reviews Ready.json")
df.to_csv("Yelp Reviews Ready.csv")

In [132]:
df_u = pd.read_json("yelp_academic_dataset_user.json", lines=True)

In [136]:
df_u.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [139]:
df_u.loc[0]

index                                                                 2
user_id                                          bc8C_eETBWL0olvFSJJd0w
name                                                              David
review_count                                                         16
yelping_since                                       2013-10-04 00:16:10
useful                                                               28
funny                                                                 8
cool                                                                 10
elite
friends               4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...
fans                                                                  0
average_stars                                                      3.71
compliment_hot                                                        0
compliment_more                                                       0
compliment_profile                                                    0
compliment_cute                                                       0
compliment_list                                                       0
compliment_note                                                       1
compliment_plain                                                      0
compliment_cool                                                       0
compliment_funny                                                      0
compliment_writer                                                     0
compliment_photos                                                     0
Name: 0, dtype: object

In [138]:
df_u = df_u[df_u['user_id'].isin(df['user_id'])].reset_index()

In [201]:
len(df_u)

378343

In [140]:
df_u['review_count'].mean()

46.32941801487011

In [142]:
df_u. drop(columns =['compliment_hot','elite', 'friends', 'fans', 'name', 'index',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'], inplace=True)

In [143]:
df_u.loc[67]

user_id          Xj0O2l0bp633ebmG468aZw
review_count                       4652
yelping_since       2005-07-18 06:22:37
useful                             5947
funny                              2089
cool                               3239
average_stars                      3.72
Name: 67, dtype: object

In [202]:
df_u.to_json("Yelp Users Ready.json")
df_u.to_csv("Yelp Users Ready.csv")